<!DOCTYPE html>
{% raw %}
<html lang="de" >
<head>
    <!-- Angular Material style sheet -->
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <style>
        * {
            font-family: 'Roboto Condensed', sans-serif;
        }

        input, .md-select-value {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 14px;
        }

        .hint {
        /* Position the hint */
        position: absolute;
        left: 2px;
        right: auto;
        bottom: 7px;
        /* Copy styles from ng-messages */
        font-size: 12px;
        line-height: 14px;
        transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
        /* Set our own color */
        color: grey; }
    </style>
</head>
<body ng-app="myapp" ng-cloak>
<!--
  Your HTML content here
-->



<div ng-controller="AppCtrl" ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-selected="activeTabNr">
            <md-tab label="Übersicht">
                <md-content class="md-padding">
                    <md-list>
                        <md-subheader class="md-no-sticky">{{cnt}}</md-subheader>
                        <div ng-repeat="item in data track by $index">
                            <md-list-item class="md-3-line" layout="row">
                                <div class="md-list-item-text" layout="column">
                                    <h3><a ng-href="{{item.url}}">{{ item.name }}</a></h3>
                                    <div ng-click="selectItem($index)">
                                        <p>{{ item.arbeitgeber }}</p>
                                        <p><span>{{ item.plz }} </span><span>{{ item.stadt }}</span></p>
                                    </div>
                                </div>
                                <div class="md-secondary">
                                    {{ item.status }}
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                        </div>
                    </md-list>
                </md-content>
            </md-tab>
            <md-tab label="Neue Stelle">
                <md-content class="md-padding">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>URL</label>
                        <input name="url" ng-model="queryURL" ng-keyup="submitNewURLQuery($event)"/>
                        <div class="hint">Bitte URL hier hinzufügen!</div>
                    </md-input-container>

                </md-content>
            </md-tab>

            <md-tab label="Bewerbung">
                <md-content class="md-padding">
                    <div>
                        <form id="userForm">

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block"  flex="35">
                                    <label>Title</label>
                                    <input ng-model="current.name">
                                </md-input-container>

                                <md-input-container class="md-block"  flex="30">
                                    <label>Arbeitgeber</label>
                                    <input ng-model="current.arbeitgeber">
                                </md-input-container>

                                <md-input-container class="md-block"  flex="15">
                                    <label>Strasse/Hausnummer</label>
                                    <input ng-model="current.strasse">
                                </md-input-container>

                                <md-input-container class="md-block"  flex="15">
                                    <label>Stadt</label>
                                    <input ng-model="current.stadt">
                                </md-input-container>
                                <md-input-container class="md-block"  flex="5">
                                    <label>PLZ</label>
                                    <input name="postalCode" ng-model="current.plz" placeholder="12345"
                                           required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                                    <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                                        <div ng-message="required" class="my-message">You must supply a postal code.</div>
                                        <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                                            code.
                                        </div>
                                        <div ng-message="md-maxlength" class="my-message">
                                            Don't use the long version silly...we don't need to be that specific...
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block"  flex="10">
                                    <label>Ansprechpartner vor/nach</label>
                                    <input ng-model="current.ansprechpartner" ng-disabled="anspr_disabled">
                                </md-input-container>
                                <md-input-container class="md-block"  flex="5">
                                    <label>Anrede</label>
                                    <md-select ng-model="current.anrede" ng-change="checkAnspr()">
                                        <md-option ng-repeat="i in anrede" value="{{i}}">{{i}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex="25">
                                    <label>Email</label>
                                    <input ng-model="current.email" type="email" ng-disabled="!current.durch_email" >
                                </md-input-container>

                                <md-input-container class="md-block" flex="20">
                                    <label>Status</label>
                                    <md-select ng-model="current.status_id">
                                        <md-option ng-repeat="i in all_status" value="{{i.id}}">{{i.id + " " + i.beschreibung}}</md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex="40">
                                    <label>Bemerkung</label>
                                    <input ng-model="current.bemerkung" md-maxlength="150">
                                </md-input-container>


                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex="5">
                                    <md-button class="md-raised" ng-click="jobAnpassen($event)">Anpassen</md-button>
                                </md-input-container>
                            </div>

                        </form>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>

{% endraw %}




<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

<!-- Your application bootstrap  -->
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}">

</script>

</body>
</html>